@font-face {
  font-family: myFirstFont;
  src: url(./fonts/Rowdies-Regular.ttf);
}

@font-face {
  font-family: myFirstFont;
  src: url(./fonts/Rowdies-Bold.ttf);
  font-weight: bold;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.logo {
  margin: 10px;
  width: 100px;
}

h1 {
  margin: 0px;
  width: 90%;
  font-family: myFirstFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.8em;
}

.game-moto {
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
}

#btn-container {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

button {
  width: 80px;
  height: 80px;
  padding: 20px;
  text-align: center;
  background-color: rgb(22, 160, 215);
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: bold;
  color: yellow;
  border: none;
  border-radius: 8px;
  box-sizing: content-box;
  flex-shrink: 0;
}

button:hover {
  background-color: rgb(49, 49, 230);
}

#score {
  width: auto;
  text-align: center;
  font-family: myFirstFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-size: large; */
  /* font-weight: bold; */
  white-space: pre-line;
  /* border: 2px solid rgb(228, 136, 207); */
  border-radius: 8px;
}

.result {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: bold;
}
